[submodule "external/nextflow-modules"]
	path = external/nextflow-modules
	url = git@github.com:TheBoutrosLab/pipeline-Nextflow-module.git
	branch = main
[submodule "external/nextflow-config"]
	path = external/nextflow-config
	url = git@github.com:TheBoutrosLab/pipeline-Nextflow-config.git
	branch = main
[submodule "lib"]
	path = lib
	url = git@github.com:TheBoutrosLab/pipeline-Nextflow-lib.git
