includeConfig "../external/nextflow-config/config/csv/csv_parser.config"
includeConfig "../external/nextflow-config/config/methods/common_methods.config"
includeConfig "../external/nextflow-config/config/retry/retry.config"
includeConfig "../external/nextflow-config/config/schema/schema.config"
includeConfig "../external/nextflow-config/config/store_object_as_json/store_object_as_json.config"

methods {
    check_aligner = {

        if (!params.containsKey('aligner')) {
            params.aligner = ["BWA-MEM2"]
            params.reference_fasta_bwa = params.reference_fasta
            params.reference_fasta_index_files_bwa = "${params.reference_fasta_bwa}.*"
            if (!params.containsKey('reference_fasta_index_files_bwa')) {
                params.reference_fasta_index_files_bwa = "${params.reference_fasta_bwa}.fai"
                }
            }
        else {
        if (params.aligner.contains("BWA-MEM2")) {
            if (!params.containsKey('reference_fasta_index_files_bwa')) {
                params.reference_fasta_index_files_bwa = "${params.reference_fasta_bwa}.*"
                }
            if (!params.containsKey('reference_fasta_index_files_bwa')) {
                params.reference_fasta_index_files_bwa = "${params.reference_fasta_bwa}.fai"
                }
            }

        if (params.aligner.contains('HISAT2')) {
            params.reference_fasta_index_files_hisat2 = "${params.hisat2_index_prefix}.*.ht2"
            }
        }
    }

    /**
    *   Extract and properly set the reference genome versions
    */
    extract_genome_versions = {
        def genome_versions = [
                "BWA-MEM2": "no-ver",
                "HISAT2": "no-ver"
            ]
        if (params.aligner.contains("BWA-MEM2")) {
            genome_versions["BWA-MEM2"] = methods.get_genome_version(params.reference_fasta_bwa)
        }
        if (params.aligner.contains("HISAT2")) {
            genome_versions["HISAT2"] = methods.get_genome_version(params.reference_fasta_hisat2)
        }
        return genome_versions
    }

    /* sets the parameters from the input which may be either a YAML (specified with key 'input')
     * or a CSV (specified with key 'input_csv')
     */
    set_params_from_input = {
        if (params.containsKey('input_csv')) {
            def reader = new BufferedReader(new FileReader(params.input_csv))

            header_line = reader.readLine()
            def csv_header_fields = header_line.split(',') as List
            def raw_csv_input = csv_parser.parse_csv(params.input_csv, csv_header_fields)

            // format the raw input so it matches the YAML
            params.input = ['FASTQ': []]

            // extract the inputs from the parsed csv
            def extracted_inputs = [] as Set
            raw_csv_input.each { csv_line ->
                extracted_inputs.add(
                    csv_line
                )
            }

            params.input.FASTQ = extracted_inputs
        } else if (!(params.containsKey('input'))) {
            throw new Exception('Neither YAML nor CSV inputs found! Please run pipeline with inputs.')
        }
    }

    // Set the output directory and filename for output bam and log files. If the input dataset is
    // registered in the blcdes, the output directory is set to the data storage. Otherwise, the
    // ouput directory is set to the params.output_dir
    set_output_dir = {
        def tz = TimeZone.getTimeZone("UTC")
        def date = new Date().format("yyyyMMdd'T'HHmmss'Z'", tz)

        params.output_dir_base = "${params.output_dir}/${manifest.name}-${manifest.version}/${params.sample_id}"
        params.log_output_dir = "${params.output_dir_base}/log-${manifest.name}-${manifest.version}-${date}/"
        schema.check_path(params.log_output_dir, 'w')
    }

    // Function to ensure that resource requirements don't go beyond
    // a maximum limit
    check_max = { obj, type ->
        if (type == 'memory') {
            try {
                if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                    return params.max_memory as nextflow.util.MemoryUnit
                else
                    return obj
            } catch (all) {
                println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
                return obj
            }
        } else if (type == 'time') {
            try {
                if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                    return params.max_time as nextflow.util.Duration
                else
                    return obj
            } catch (all) {
                println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
                return obj
            }
        } else if (type == 'cpus') {
            try {
                return Math.min(obj, params.max_cpus as int)
            } catch (all) {
                println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
                return obj
            }
        }
    }

    set_environment = {
        methods.set_env()
        params.spark_temp_dir = (params.containsKey('spark_temp_dir') && params.spark_temp_dir && schema.check_path(params.spark_temp_dir, 'w')) ? params.spark_temp_dir : params.work_dir
    }

    set_pipeline_logs = {
        trace.enabled = true
        trace.file = "${params.log_output_dir}/nextflow-log/trace.txt"

        timeline.enabled = true
        timeline.file = "${params.log_output_dir}/nextflow-log/timeline.html"

        report.enabled = true
        report.file = "${params.log_output_dir}/nextflow-log/report.html"
    }

    setup = {
        methods.set_params_from_input()
	methods.setup_process_afterscript()
        schema.load_custom_types("${projectDir}/config/custom_schema_types.config")
        schema.validate()
        methods.set_output_dir()
        methods.set_environment()
        methods.set_pipeline_logs()
        methods.check_aligner()
        methods.set_resources_allocation()
	methods.setup_docker_cpus()
	json_extractor.store_object_as_json(params, new File("${params.log_output_dir}/nextflow-log/params.json"))
        retry.setup_retry()
        }
    }
